.container {
    display: flex;
    flex-direction: row;
    border: solid red 2px;
}

.contains-img {
    height: 100vh;
    border: solid green 2px;
    background-image: url("amex-backo.png");
}

img {
    width: 100%;
    height: 100%;
}

.column {
    flex: 50%;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

#names {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 15px;
}